{% layout 'layout.liquid' %}
{% block content %}

<div class="btn-group btn-group-lg">
    <a href="/campaigns/new" class="btn btn-success">Create New Campaign</a>
    <a href="/campaigns/" class="btn btn-success">Continue Existing Campaign</a>
</div>

{% endblock %}