{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h4 class="display-6">{{currentCampaignName}}</h4>
    <hr>
    {% if isMaster == false %}
        <a href="../backpacks/new" class = "btn btn-success">Add Backpack</a>
    {% endif %}
    {% if isMaster == true %}
        <div class="btn-group">
            <a href="../campaigns/addplayer" class = "btn btn-success">Add Player</a>
            <a href="../campaigns/removeplayer" class = "btn btn-danger">Remove Player</a>
        </div>
    {% endif %}
    <h4 class="display-10">Backpacks:</h4>
    
    <div class="row">
        
        {% for backpack in backpacks%}
            {% if  backpack.campaign == currentCampaignId and backpack.owner == userId or isMaster == true%}
                <div class="card" style="width: 18rem;">
                    <h5 class="card-body">
                        {{ backpack.name }}
                        {% if backpack.owner == userId %}
                            <span>
                                <a class="btn btn-small btn-danger float-end" href="/backpacks/delete/{{backpack.id}}">
                                    X
                                </a>
                            </span>
                        {% endif %}
                    </h5>
                    <div class="card-footer">
                        <a href="/backpacks/{{ backpack.id }}" class="btn btn-info" style="width: 100%;">
                            Open
                        </a>   
                    </div>
                </div>                
            {% endif %}
        {% endfor %}
    </div>

     

</div>
{% endblock %}