{% layout "layout.liquid" %}
{% block content %}
<div class="m-3">
    <h1>Welcome to Conjure Backpack</h1>
    <h3>The Inventory Management tool for Dungeons & Dragons 5th Edition</h3>
    <p style="max-width: 700px;">
        Conjure Backpack is an app that allows users to digitally manage character inventories for Dungeons & Dragons Fifth Edition. Users can create campaigns (as the Dungeon Master) to manage the available items, or join others (as a player). 
    </p>
    <a href="/auth/signup" class="btn btn-success">Sign Up</a>
    <a href="/auth/login" class="btn btn-success">Sign In</a>
</div>
{% endblock %}