body {
    background-image: url('certificate_paper_texture_by_icycatelf_d4dy93c.jpg');
    background-repeat: repeat;
    overflow-x:hidden;
}

/* footer {
    width: 100%;
    position: absolute;
    bottom: 0;
} */

/* .card {
    background-image: url('paper-g9d6c55471_1920.jpg');
    background-size: cover;
} */

.Magic {
    background-color: rgba(221, 160, 243, .35);
    border-color: rgb(221, 160, 243);
}

.Gear {
    background-color: rgba(160, 243, 188, .35);
    border-color: rgb(160, 243, 188);
}

.Weapon {
    background-color: rgba(160, 210, 243, .35);
    border-color: rgb(160, 210, 243);
}

.Armor {
    background-color: rgba(246, 137, 67, .35);
    border-color: rgb(246, 137, 67);
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}