body {
    background-image: url('certificate_paper_texture_by_icycatelf_d4dy93c.jpg');
    background-repeat: repeat;
}

.card {
    background-image: url('certificate_paper_texture_by_icycatelf_d4dy93c.jpg');
    background-size: cover;
}