{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/items" method="POST">
        <fieldset>
            <legend>Create New Item</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter item's name"
                class="form-control"
                required
            >
            <label class="form-label">Type: </label>
            <select name="category" class="form-control">
                <option value="Gear">Gear</option>
                <option value="Weapon">Weapon</option>
                <option value="Armor">Armor</option>
                <option value="Magic Item">Magic Item</option>
                
            </select>
            <label class="form-label">Cost:</label>
            <input 
                type="text" 
                name="cost" 
                placeholder="examples: '10gp', '1cp', 'Mark's First Born Child', etc." 
                class="form-control"
            >
            <label class="form-label">weight:</label>
            <input 
                type="text" 
                name="amount" 
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <textarea 
                type="text" 
                name="desc" 
                class="form-control"
                rows="4"
                placeholder="Enter description here...
(tip: if you need to add line breaks, type '&#60;br /&#62;')"
            ></textarea>

            
        </fieldset>
        <input type="submit" value="Create New Item" class="btn btn-success">
    </form>
</div>
{% endblock %}